{% load static%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="content">
            <div class="blog">@ Pharm Blog</div>
            <nav class="blog">Menu</nav>
        </div>
    </header>
    <div class="container">
        {% block container %}{% endblock %}
    </div>
  </body>
</html>
