{% load static%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="content">
            <div class="blog">@ Pharm Blog</div>
        </div>
    </header>
    <div class="container">
     <aside>
            <div class="link_box">
                <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'index:index' %}"> Home</a></div>
            </div>
            <div class="link_box">
                 <div class="link_img"></div>
                 <div class="link_text">Featured</div>
            </div>
            <div class="link_box">
                 <div class="link_img"></div>
                 <div class="link_text">About</div>
            </div>
            <div class="link_box">
                 <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'contact:contact' %}"> Contact</a></div>
            </div>

         {% if request.user.is_authenticated %}
          <div class="link_box">
                 <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'create_article' %}">New Article</a></div>
            </div>
         <div class="link_box">
                 <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'logout' %}"> Log out</a></div>
            </div>
         {% else %}
          <div class="link_box">
                 <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'login' %}"> Log in</a></div>
            </div>
         <div class="link_box">
                 <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'signup' %}"> Sign up</a></div>
            </div>
         {% endif %}
        </aside>
        {% block container %}{% endblock %}
    </div>
  </body>
</html>
