{% load static%}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
        <div class="content">
            <div class="blog">@ Pharm Blog</div>
            <div class="log_in">log in</div>
        </div>
    </header>
    <div class="container">
     <aside>
            <div class="link_box">
                <div class="link_img"></div>
                <div class="link_text">Home</div>
            </div>
            <div class="link_box">
                 <div class="link_img"></div>
                 <div class="link_text">Featured</div>
            </div>
            <div class="link_box">
                 <div class="link_img"></div>
                 <div class="link_text">About</div>
            </div>
            <div class="link_box">
                 <div class="link_img"></div>
                <div class="link_text"><a class="link_text" href="{% url 'contact:contact' %}"> Contact</a></div>
            </div>
            <div class="link_box"></div>
        </aside>

        {% block container %}{% endblock %}
    </div>
  </body>
</html>
