{% extends "article-base.html" %}
{% load static %}
{% block title %}Antiviral{% endblock %}
{% block text %}
        <h3>Antiviral drugs</h3>
        <p>Most of the antiviral drugs now available are designed to help deal with HIV, herpes viruses, 
        the hepatitis B and C viruses, and influenza A and B viruses. Researchers are working to extend the range of 
        antivirals to other families of pathogens. </p>
        <p>Designing safe and effective antiviral drugs is difficult because viruses use the host's cells to replicate. 
This makes it difficult to find targets for the drug that would interfere with the virus without also harming the host organism's cells. 
Moreover, the major difficulty in developing vaccines and anti-viral drugs is due to viral variation.</p>

<p>The emergence of antivirals is the product of a greatly expanded knowledge of the genetic and molecular function of organisms, 
allowing biomedical researchers to understand the structure and function of viruses, major advances in the techniques for finding new drugs, 
and the pressure placed on the medical profession to deal with the human immunodeficiency virus (HIV), the cause of acquired immunodeficiency syndrome (AIDS).</p>

<p>The first experimental antivirals were developed in the 1960s, mostly to deal with herpes viruses, and were found using traditional 
trial-and-error drug discovery methods. Researchers grew cultures of cells and infected them with the target virus. They then introduced 
into the cultures chemicals which they thought might inhibit viral activity and observed whether the level of virus in the cultures rose or fell. 
Chemicals that seemed to have an effect were selected for closer study.</p>

<p>This was a very time-consuming, hit-or-miss procedure, and in the absence of a good knowledge of how the target virus worked, 
  it was not efficient in discovering effective antivirals which had few side effects. Only in the 1980s, when the full genetic sequences 
  of viruses began to be unraveled, did researchers begin to learn how viruses worked in detail, and exactly what chemicals were needed to 
  thwart their reproductive cycle.</p>
{% endblock %}