{% extends "base.html" %}
{% load static %}
{% block title %} Pharm Blog{% endblock %}
{% block container %}

        <div class="main_content">
            {% for article in blog %}
            <div class="article_prew">
              <div class="article_image">
                  <img src="{{ article.image.url }}">
              </div>
              <div class="article_txt"><span>{{article.article_title}}</span> <br>
                  <span class="datetime">{{article.article_date}}</span>
                  {{ article.article_text|truncatechars:200|safe}}
                  <a href="{% url 'article_one' article.pk %}">Read more</a>
              </div>
            </div>
            {%endfor%}

        </div>
    {%endblock%}
