{% extends "base.html" %}
{% load static %}
{% block title %} Pharm Blog{% endblock %}
{% block container %}

        <div class="main_content">
            <div class="article_prew-1">
              <div class="article_image-1"></div>
              <div class="article_txt-1">{{ object.article | safe }} <a href="{% url 'article_one:article_one' %}">Read more</a></div>
            </div>
            <div class="article_prew-2">
              <div class="article_image-2"></div>
              <div class="article_txt-2">
                  <span></span>
                  {{ object.article_1 | safe}} <a href="{% url 'article_two:article_two' %}">Read more</a>
              </div>
            </div>
            <div class="article_prew-3">
              <div class="article_image-3"></div>
              <div class="article_txt-3">{{ object.article_2 | safe }} <a href="{% url 'article_three:article_three' %}">Read more</a> </div>
            </div>
        </div>
    {%endblock%}
